// big button

.button {
	background: $off-blue;
	border: none;
	color: #fff;
	font-weight: 500;
	padding: $s-size;
}

.button--link {
	background: none;
	border: none;
	color: $off-white;
	padding: 0;
}
