.widget {
	background: #fff;
	margin-bottom: $xl-size;
}

.widget-message {
	color: $off-blue;
	margin: 0;
	padding: $l-size;
	text-align: center;
	border-bottom: 1px solid $off-blue;
}

.widget-header {
	background: #fff;
	color: $off-blue;
	padding: $m-size;
}

.widget-header__title {
	margin: 0;
	text-align: center;
}
